.blog, .article{
    position: relative;
    height: fit-content;
    padding-bottom: 0;
}

.article{
    min-height: auto;
    height: fit-content;
    padding: 0 10px;
    white-space: normal;
}

.title{
     min-height: auto;
     height: fit-content;
     padding: 0 10px;
     white-space: normal;
      margin-top: 10%;
}

.published{
    margin: 20px 0 60px;
    padding: 0 10px;
    text-transform: capitalize;
    font-style: italic;
    color: rgba(0, 0, 0, 0.5);
}

.published span{
    font-weight: 700;
    font-style: normal;
}

.article *{
    margin: 30px 0;
    color: #2d2d2d;
}

.sub-heading{
    padding: 0 5vw;
    color: #2d2d2d;
    font-weight: 500;
    font-size: 40px;
    margin-top: 80px;
}

#nav{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    background: #fff;
    z-index: 9;
}